.title {
    color: #8abaae;
}

.nva-ii {
    color: #ecca0a;
    font-size: 24px;
}

.nva-a {
    color: #fff; 
    margin-left: 25px;
}

.con-sty {
    width: 90%;
}

/* ---------------------------------
# PAGINATION (GREY THEME)
----------------------------------*/
.page-item .active .page-link {
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}
.pagination > li > a {
    background-color: #fff;
    color: #6c757d;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}